/* Colors */
$green-200: rgb(164 255 175);
$grey-200: rgb(230 229 234);
$grey-600: rgb(129 125 146);
$grey-700: rgb(84 83 91);
$grey-800: rgb(36 35 44);
$grey-850: rgb(24 23 31);
$grey-900: rgb(20 19 27);
$grey-950: rgb(8 7 11);
$orange-400: rgb(251 124 88);
$red-500: rgb(246 74 74);
$yellow-300: rgb(248 205 101);

/* Spacing */
$spacing-200: 1rem;
$spacing-300: 1.5rem;
$spacing-400: 2rem;
